* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    margin: auto;
    color: #FFFFFF;
    width: 1440px;
    background-color: #808080;
}

.header_section {
    background-image: url("img/desktop.png");
    font-family: "Istok Web";
    display: grid;
    justify-content: center;
    align-items: center;
}

.header_navigation {
    display: flex;
    flex-wrap: wrap;
    padding-left: 122px;
    padding-top: 47px;
}

.header_navigation_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 30px;
    padding-left: 190px;
    gap: 100px;

}

.header_navigation_link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.header_navigation_link:hover {
    color: #D53005;
}

.header_block {
    padding-top: 27px;
    padding-left: 122px;
    display: flex;
    flex-wrap: wrap;

}

.header_block_logo {
    padding-top: 164px;
    padding-right: 338px;
    justify-content: center;
}

.header_block_img_logo {
    padding-bottom: 175px;
}

.header_block_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    width: 290px;
}

.header_block_img_list {
    display: block;
    position: relative;
    list-style: none;
}

.header_block_img_phone {
    position: relative;
    z-index: 2;
}

.header_block_img_cable {
    position: absolute;
    left: 48px;
    top: 733px;
    z-index: 1;
}

.main_section {
    display: grid;
    font-family: "Karla";
    justify-content: center;
    align-items: center;
}

.main_section_music,
.main_section_store {
    display: flex;
    flex-wrap: wrap;
    background-color: #D53005;
    justify-content: space-between;
    position: relative;
}

.main_section_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    padding-top: 83px;
    padding-left: 165px;
}

.main_section_music_button_list {
    list-style: none;
    padding-top: 267px;
    margin-bottom: 385px;
    padding-left: 165px;
}

.main_section_music_button {
    width: 382px;
    height: 83px;
    font-size: 40px;
    align-items: center;
    background: linear-gradient(to right, #B13E18 45%, #F3501A);
    color: #FFFFFF;
    font-family: "Karla";
    line-height: 47px;
    font-weight: 400;
    border: none;
    margin-bottom: 88px;
}

.main_section_music_button:active {
    background: linear-gradient(to right, #F3501A 45%, #B13E18);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
    color: #000000;
}

.main_section_music_h_b {
    float: left;
}

.main_section_music_img {
    position: absolute;
    top: 179px;
    left: 440px;
    z-index: 2;
}

.main_section_about,
.footer_section {
    background: linear-gradient(to top, #000000 97%, #D53005);
}

.main_section_about_text {
    font-family: "Karla";
    line-height: 35px;
    font-weight: 400;
    font-size: 30px;
    width: 969px;
    height: 72px;
    margin: 476px 196px 476px 275px;
}

.main_section_store_button_list {
    list-style: none;
    padding-top: 136px;
    padding-left: 165px;
}

.main_section_store_button {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 48px;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
}

.main_section_store_button:active {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.main_section_store_title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    margin-left: 25px;
    margin-top: 87px;
}

.main_section_store_text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 19px;
    margin-top: 17px;
    text-align: center;
    height: 110px;
    width: 431px;
    margin-bottom: 312px;
}

.main_section_store_text_s {
    color: #000000;
    text-decoration: none;
}

.main_section_store_text_s:hover {
    text-decoration: underline;
}

.main_section_store_img {
    position: absolute;
    top: 169px;
    left: 336px;
    z-index: 2;
}

.footer_section_list {
    display: inline-block;
    vertical-align: top;
    font-family: "Montserrat";
    list-style: none;
    padding-right: 147px;
    padding-top: 120px;
}

.footer_section_title {
    display: inline-block;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;


}

.footer_section_link {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding-top: 20px;
}

.footer_section_list_div {
    display: inline-block;
    padding-left: 357px;
}

.footer_section_link:hover,
.footer_section_link_discr:hover {
    text-decoration: underline;
}

.footer_section_list_div_logo {
    display: inline-block;
    padding-left: 106px;
    padding-top: 76px;
    padding-bottom: 74px;

}

.footer_section_list_discr {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
}

.footer_section_link_discr {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
}